USE [wbhealthscheme]
GO
/****** Object:  Table [dbo].[MBUCT_univBasicInfo_ONLINE]    Script Date: 16-04-2026 17:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MBUCT_univBasicInfo_ONLINE](
	[SLR_NO] [nvarchar](200) NOT NULL,
	[APP_ID] [nvarchar](200) NOT NULL,
	[PAN_ID] [nvarchar](50) NOT NULL,
	[UNIV_FirstName] [nvarchar](100) NULL,
	[UNIV_LastName] [nvarchar](100) NULL,
	[UNIV_Dob] [datetime] NULL,
	[MTS_STS_CD] [nvarchar](2) NULL,
	[sex] [nvarchar](2) NULL,
	[EMP_DIST_CD] [nvarchar](2) NULL,
	[empAddr] [nvarchar](max) NULL,
	[PAN_VOTER_NO] [nvarchar](30) NULL,
	[MOBILE_NO] [nvarchar](10) NULL,
	[EMAIL_ID] [nvarchar](max) NULL,
	[RESIDENCE_PH_NO] [nvarchar](max) NULL,
	[redate] [datetime] NULL,
	[bnk_nm] [nvarchar](max) NULL,
	[bnk_br_nm] [nvarchar](max) NULL,
	[bnk_ifsc] [nvarchar](20) NULL,
	[bnk_ac-no] [nvarchar](max) NULL,
	[IS_EXISTS] [nvarchar](1) NULL,
	[Memo_No] [nvarchar](max) NULL,
	[Memo_Date] [datetime] NULL,
	[DDO_VERIFY_DATE] [datetime] NULL,
	[Reject_Reason] [nvarchar](max) NULL,
	[DDO_reject_date] [datetime] NULL,
	[id_type] [nvarchar](50) NULL,
	[effect_date] [datetime] NULL,
	[bnk_micr] [nvarchar](50) NULL,
	[APPROVER_NAME] [nvarchar](max) NULL,
	[APPROVER_DESIG] [nvarchar](max) NULL,
	[reyear] [nvarchar](3) NULL,
	[Adhar_No] [nvarchar](20) NULL,
	[DATE_OF_DEATH] [datetime] NULL,
	[APPROVER_HOI] [nvarchar](100) NULL,
	[approve_user] [nvarchar](50) NULL,
	[APPROVER_USER_ROLL] [nvarchar](3) NULL,
 CONSTRAINT [PK_mbuct_univBasicInfo_online] PRIMARY KEY CLUSTERED 
(
	[SLR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
