USE [wbhealthscheme]
GO
/****** Object:  Table [dbo].[MBUCT_AppId_Univ_ONLINE]    Script Date: 16-04-2026 17:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MBUCT_AppId_Univ_ONLINE](
	[SLR_NO] [nvarchar](200) NOT NULL,
	[PAN_ID] [nvarchar](200) NOT NULL,
	[APP_ID] [nvarchar](200) NOT NULL,
	[DOB] [datetime] NOT NULL,
	[dist_cd] [nvarchar](2) NULL,
	[IS_EXISTS] [nvarchar](1) NOT NULL,
	[INVALID_TIME] [datetime] NULL,
	[CREATE_IP] [nvarchar](max) NULL,
	[CR_TIME] [datetime] NOT NULL CONSTRAINT [DF_mbuct_appid_univ_online]  DEFAULT (getdate()),
 CONSTRAINT [PK_mbuct_appid_univ_online] PRIMARY KEY CLUSTERED 
(
	[SLR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[MBUCT_AppId_Univ_ONLINE] ([SLR_NO], [PAN_ID], [APP_ID], [DOB], [dist_cd], [IS_EXISTS], [INVALID_TIME], [CREATE_IP], [CR_TIME]) VALUES (N'U123654796320200723181349087', N'U1236547963', N'U123654796302021994', CAST(N'1994-02-02 00:00:00.000' AS DateTime), NULL, N'0', NULL, N'::1', CAST(N'2020-07-23 18:13:49.273' AS DateTime))
INSERT [dbo].[MBUCT_AppId_Univ_ONLINE] ([SLR_NO], [PAN_ID], [APP_ID], [DOB], [dist_cd], [IS_EXISTS], [INVALID_TIME], [CREATE_IP], [CR_TIME]) VALUES (N'UABCD1234AB20190316155354760', N'UABCD1234AB', N'UABCD1234AB01021990', CAST(N'1990-06-06 00:00:00.000' AS DateTime), NULL, N'0', NULL, N'::1', CAST(N'2019-03-16 15:53:54.903' AS DateTime))
INSERT [dbo].[MBUCT_AppId_Univ_ONLINE] ([SLR_NO], [PAN_ID], [APP_ID], [DOB], [dist_cd], [IS_EXISTS], [INVALID_TIME], [CREATE_IP], [CR_TIME]) VALUES (N'UABCD1234DD20201207224554960', N'UABCD1234DD', N'UABCD1234DD07061990', CAST(N'1990-06-07 00:00:00.000' AS DateTime), NULL, N'4', NULL, N'::1', CAST(N'2020-12-07 22:45:55.127' AS DateTime))
