USE [wbhealthscheme]
GO
/****** Object:  Table [dbo].[MBUCT_Univ_HOI_Details]    Script Date: 16-04-2026 17:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MBUCT_Univ_HOI_Details](
	[SLR_NO] [nvarchar](200) NOT NULL,
	[APP_ID] [nvarchar](200) NOT NULL,
	[PAN_ID] [nvarchar](200) NOT NULL,
	[HOI_DESIG] [nvarchar](50) NULL,
	[REG_SNR_TR] [nvarchar](20) NULL,
	[HOD] [nvarchar](max) NULL,
	[DDO_DESIG] [nvarchar](5) NULL,
	[DDO_DIST] [nvarchar](2) NULL,
	[TR_CODE] [nvarchar](3) NULL,
	[DDO_CODE] [nvarchar](15) NULL,
	[IS_EXISTS] [nvarchar](1) NULL,
 CONSTRAINT [PK_mbuct_univ_hoi_details] PRIMARY KEY CLUSTERED 
(
	[SLR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[MBUCT_Univ_HOI_Details] ([SLR_NO], [APP_ID], [PAN_ID], [HOI_DESIG], [REG_SNR_TR], [HOD], [DDO_DESIG], [DDO_DIST], [TR_CODE], [DDO_CODE], [IS_EXISTS]) VALUES (N'UABCD1234DD20201207224554960', N'UABCD1234DD07061990', N'UABCD1234DD', N'Vice Chancellor', N'00', NULL, NULL, N'12', N'TES', N'tesedi002', N'3')
INSERT [dbo].[MBUCT_Univ_HOI_Details] ([SLR_NO], [APP_ID], [PAN_ID], [HOI_DESIG], [REG_SNR_TR], [HOD], [DDO_DESIG], [DDO_DIST], [TR_CODE], [DDO_CODE], [IS_EXISTS]) VALUES (N'UABCD1234GG20210203162449643', N'UABCD1234GG06061990', N'UABCD1234GG', N'Vice Chancellor', N'00', N'02', NULL, N'12', N'TES', N'tesedi002', N'1')
INSERT [dbo].[MBUCT_Univ_HOI_Details] ([SLR_NO], [APP_ID], [PAN_ID], [HOI_DESIG], [REG_SNR_TR], [HOD], [DDO_DESIG], [DDO_DIST], [TR_CODE], [DDO_CODE], [IS_EXISTS]) VALUES (N'UABCD1234IJ20190213114633173', N'UABCD1234IJ15111989', N'UABCD1234IJ', N'Vice Chancellor', N'01', N'03', NULL, N'12', N'TES', N'tesedi002', N'1')
