USE [wbhealthscheme]
GO
/****** Object:  Table [dbo].[MBUCT_Univ_Office_Details]    Script Date: 16-04-2026 17:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MBUCT_Univ_Office_Details](
	[SLR_NO] [nvarchar](200) NOT NULL,
	[app_id] [nvarchar](200) NOT NULL,
	[PAN_ID] [nvarchar](11) NOT NULL,
	[univ_nm] [nvarchar](max) NULL,
	[univ_dist_cd] [nvarchar](2) NULL,
	[sub_div_cd] [nvarchar](2) NULL,
	[block_cd] [nvarchar](2) NULL,
	[univ_addr] [nvarchar](max) NULL,
	[DOJ] [datetime] NULL,
	[desig_type] [nvarchar](max) NULL,
	[desig] [nvarchar](3) NULL,
	[pay_band] [nvarchar](2) NULL,
	[band_pay] [nvarchar](15) NULL,
	[ward_name] [nvarchar](200) NULL,
	[IS_EXISTS] [nvarchar](1) NULL,
	[gd_pay] [nvarchar](2) NULL,
	[basic_pay] [nvarchar](15) NULL,
	[ropa_type] [nvarchar](20) NULL,
	[pay_lavel] [nvarchar](5) NULL,
	[basic_sal] [nvarchar](5) NULL,
	[dept_cd] [nvarchar](3) NULL,
	[ward_tmc] [nvarchar](200) NULL,
	[ward_gpb] [nvarchar](200) NULL,
 CONSTRAINT [PK_mbuct_univ_office_details] PRIMARY KEY CLUSTERED 
(
	[SLR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
