USE [wbhealthscheme]
GO
/****** Object:  StoredProcedure [dbo].[GET_WBHS_BENEFICIARY_APP]    Script Date: 24-04-2026 11:09:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GET_WBHS_BENEFICIARY_APP]
   @APPID nvarchar(20)
	
        
AS
BEGIN
    SET NOCOUNT ON;
	

if SUBSTRING(@APPID,4,3)='EMP'
begin
select weo.APP_ID,
bname,
(select  mem_des from wbhs_member_description where mem_cd=wbhs_familyDetails_inservice_ONLINE.mem_cd) [Relation],
age,
wbhs_familyDetails_inservice_ONLINE.idno,
EMP_BEN_IMG_PHOTO,
EMP_BEN_IMG_SIG,
convert(nvarchar(10),date_Form_B,103) [effect_date],
(cast(weo.gd_pay as float)+cast(weo.band_pay as float)) [pay],
weo.ward_name [ward],
weo.WARD_GOVT,
weo.WARD_TMC
from wbhs_familyDetails_inservice_ONLINE left join wbhs_familyDetails_inservice_ONLINE_PHOTO_SIGNATURE WFPO on wfpo.idno=wbhs_familyDetails_inservice_ONLINE.idno 
join wbhs_empBasicInfo_ONLINE weo on weo.app_id=wbhs_familyDetails_inservice_ONLINE.app_id
where wbhs_familyDetails_inservice_ONLINE.app_id=@APPID
AND weo.IS_EXISTS='1' order by wbhs_familyDetails_inservice_ONLINE.idno 
end

else
begin

select weo.APP_ID,
bname,
(select  mem_des from wbhs_member_description where mem_cd=wbhs_familyDetails_pensioner_ONLINE.mem_cd) [Relation],
age,
wbhs_familyDetails_pensioner_ONLINE.idno,
PEN_BEN_IMG_PHOTO as [EMP_BEN_IMG_PHOTO],
PEN_BEN_IMG_SIG as [EMP_BEN_IMG_SIG],
convert(nvarchar(10),pen_date_form_Two,103) [effect_date],
weo.pen_basic_pension [pay],
weo.ward_name [ward],
weo.WARD_GOVT,
weo.WARD_TMC
from wbhs_familyDetails_pensioner_ONLINE left join wbhs_familyDetails_PENSIONER_ONLINE_PHOTO_SIGNATURE WFPO on wfpo.idno=wbhs_familyDetails_pensioner_ONLINE.idno 
join wbhs_penbasicinfo_ONLINE weo on weo.app_id=wbhs_familyDetails_pensioner_ONLINE.app_id
where wbhs_familyDetails_pensioner_ONLINE.app_id=@APPID

AND weo.IS_EXISTS='1' order by wbhs_familyDetails_pensioner_ONLINE.idno

end
END

--EXEC [GET_WBHS_BENEFICIARY_APP] 'WB/EMP/01/000213469'



