USE [wbhealthscheme]
GO
/****** Object:  StoredProcedure [dbo].[GetUnivBeneficiaryAuthenticationByUniqueId]    Script Date: 18-04-2026 11.48.55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetClgBeneficiaryAuthenticationByHrmsId]
	
	@HrmsId NVARCHAR(11)
	
	
AS
DECLARE @tmc nvarchar(max)
	DECLARE @gpb nvarchar(max)
BEGIN	
	SELECT
	mufd.[APP_ID] as ApplicationId,
	mufd.HRMS_ID as HrmsId,
	mubi.[SLR_NO] as SlrNo,
	[BEN_ID] as BenId,
	[BEN_NM] as BenName,	
	[AGE] as Age,		
	[ID_NO] IdNo, 
	(select mem_des from wbhs_member_description where mem_cd=relation) as Relation,
	replace(PHOTO_FTP,'wbhealthscheme.gov.in','~') as PhotoFtp,
	replace(SIGN_FTP,'wbhealthscheme.gov.in','~') as SignFtp,
	mufd.[IS_EXISTS] as RegistrationStatus,
	ward_name as WordName,   
	ward_tmc as WordTmc, 
    [ward_govt] as WordGpb,
	convert(nvarchar(10),mubi.[effect_date],103) EffectDate
	FROM MBUCT_CLG_familyDetails mufd
	join MBUCT_Clg_Office_Details mubo 
	on mufd.HRMS_ID = mubo.HRMS_ID and mubo.IS_EXISTS='1'	
	join MBUCT_clgBasicInfo_ONLINE mubi 
	on mufd.HRMS_ID = mubi.HRMS_ID and mubi.IS_EXISTS='1'
	where mufd.HRMS_ID=@HrmsId and mufd.IS_EXISTS='1'
     
END

-- exec GetClgBeneficiaryAuthenticationByHrmsId 'G1900000006'  









