USE [wbhealthscheme]
GO
/****** Object:  StoredProcedure [dbo].[GetPnhytEmpBeneficiaryAuthenticationByIosmsId]    Script Date: 19-04-2026 7.15.24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetPnhytEmpBeneficiaryAuthenticationByIosmsId]
	
	@IosmsId NVARCHAR(12)	
	
AS
BEGIN	
	SELECT
	mufd.APP_ID as ApplicationId,
	mufd.IOSMS_ID as IosmsId,
	BEN_ID as BenId,
	BEN_NM as BenName,	
	AGE as Age,		
	ID_NO IdNo, 
	(select mem_des from wbhs_member_description where mem_cd=relation) as Relation,
	replace(PHOTO_FTP,'wbhealthscheme.gov.in','~') as PhotoFtp,
	replace(SIGN_FTP,'wbhealthscheme.gov.in','~') as SignFtp,
	mufd.[IS_EXISTS] as RegistrationStatus,
	ward_name as WordName,   
	ward_tmc as WordTmc, 
    ward_govt as WordGpb,
	convert(nvarchar(10),mubi.[effect_date],103) EffectDate
	FROM [dbo].[PNHYT_EMP_familyDetails] mufd
	join PNHYT_EMP_OFFICE_DETAILS mubo 
	on mufd.IOSMS_ID = mubo.IOSMS_ID and mubo.IS_EXISTS='1'	
	join PNHYT_empBasicInfo_ONLINE mubi 
	on mufd.IOSMS_ID = mubi.IOSMS_ID and mubi.IS_EXISTS='1'
	where mufd.IOSMS_ID=@IosmsId and mufd.IS_EXISTS='1'
     
END

-- exec GetPnhytEmpBeneficiaryAuthenticationByIosmsId 'PE2023041375'  









