USE [wbhealthscheme]
GO
/****** Object:  StoredProcedure [dbo].[GetPnhytPenBeneficiaryAuthenticationByPpoId]    Script Date: 19-04-2026 11.08.30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetPnhytPenBeneficiaryAuthenticationByPpoId]
	
	@ppoId NVARCHAR(12)	
	
AS
BEGIN	
	SELECT
	mufd.APP_ID as ApplicationId,
	mufd.PPO_NO as PpoId,
	BEN_ID as BenId,
	BEN_NM as BenName,	
	AGE as Age,		
	ID_NO IdNo, 
	(select mem_des from wbhs_member_description where mem_cd=relation) as Relation,
	replace(PHOTO_FTP,'wbhealthscheme.gov.in','~') as PhotoFtp,
	replace(SIGN_FTP,'wbhealthscheme.gov.in','~') as SignFtp,
	mufd.[IS_EXISTS] as RegistrationStatus,
	ward_name as WordName,   
	ward_tmc as WordTmc, 
    ward_govt as WordGpb,
	convert(nvarchar(10),mubi.[effect_date],103) EffectDate
	FROM [dbo].[PNHYT_PEN_familyDetails] mufd
	join PNHYT_PEN_OFFICE_DETAILS mubo 
	on mufd.PPO_NO = mubo.PPO_NO and mubo.IS_EXISTS='1'	
	join PNHYT_penBasicInfo_ONLINE mubi 
	on mufd.PPO_NO = mubi.PPO_NO and mubi.IS_EXISTS='1'
	where mufd.PPO_NO=@ppoId and mufd.IS_EXISTS='1'
     
END

-- exec GetPnhytEmpBeneficiaryAuthenticationByIosmsId 'PE2023041375'  









