USE [wbhealthscheme]
GO
/****** Object:  StoredProcedure [dbo].[GetUnivBeneficiaryAuthenticationByUniqueId]    Script Date: 19-04-2026 1.18.28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetUnivBeneficiaryAuthenticationByUniqueId]
	
	@uniqueId NVARCHAR(11)
	
	
AS
DECLARE @tmc nvarchar(max)
	DECLARE @gpb nvarchar(max)
BEGIN	
	SELECT
	mufd.[APP_ID] as ApplicationId,
	mufd.[PAN_ID] as PanId,
	mubi.[SLR_NO] as SlrNo,
	[BEN_ID] as BenId,
	[BEN_NM] as BenName,	
	[AGE] as Age,		
	[ID_NO] IdNo, 
	(select mem_des from wbhs_member_description where mem_cd=relation) as Relation,
	replace(PHOTO_FTP,'wbhealthscheme.gov.in','~') as PhotoFtp,
	replace(SIGN_FTP,'wbhealthscheme.gov.in','~') as SignFtp,
	mufd.[IS_EXISTS] as RegistrationStatus,
	ward_name as WordName,   
	ward_tmc as WordTmc, 
    ward_gpb as WordGpb,
	convert(nvarchar(10),mubi.[effect_date],103) EffectDate
	FROM MBUCT_UNIV_familyDetails mufd
	join MBUCT_Univ_Office_Details mubo 
	on mufd.[PAN_ID] = mubo.[PAN_ID] and mubo.IS_EXISTS='1'	
	join MBUCT_univBasicInfo_ONLINE mubi 
	on mufd.[PAN_ID] = mubi.[PAN_ID] and mubi.IS_EXISTS='1'
	where mufd.[PAN_ID]=@uniqueId and mufd.IS_EXISTS='1'
     
END

-- exec GetUnivBeneficiaryAuthenticationByUniqueId 'uabcd1234ij'  









